.contato{
    margin: 1rem auto;
    padding: 1rem;
    max-width: 90%;
    background-color: var(--brancoTransparente);
    border-radius: .5rem;
}
.send-box{
    padding: 1rem 1.5rem;
}
.contato__button{
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}
@media screen and (min-width:765px) {
    .contato{
        display: flex;
        align-items: center;
    }
    .head-box{
        padding: 1rem;
    }
}