
footer{
    background-color: var(--branco);
    padding: 1.5rem;
    width: 100%;
    color: var(--azulEscuro);
    text-align: center;
}
footer a {
    text-decoration: none;
    color: var(--verdeMeioAzul);
}