:root{
    --azulEscuro: #06283D;
    --azulEscuro-opacity: #06283d98;
    --verdeMeioAzul: #256D85;
    --azul:#47B5FF;
    --verde: #8FE3CF;
    --branco: #fff;
    --brancoTransparente: rgba(255, 255, 255, 0.2);
    --preto: #000;
    --font-family:'Roboto Condensed', sans-serif;

}