.tableContainer{
    overflow-x: scroll;
    width: 90vw;
    display: flex;
}
.materias{
    border-radius: 8px 8px 0 0;
   background-color: rgba(255, 255, 255, 0.904);
   border-collapse: collapse;
   margin: 25px 0;
   font-size: 0.9em;
   min-width: 400px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 
}
.materias thead tr {
    background-color: var(--azulEscuro-opacity);
    color: #ffffff;
    text-align: left;
}

.materias input{
    position: relative;
    left: 50%;
}
.materias th,.materias td{
    padding: 12px 15px;
}
.materias tbody tr {
    color: black;
    border-bottom: 1px solid #dddddd;
}

.materias tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.materias tbody tr:last-of-type {
    border-bottom: 2px solid var(--branco);
}

.editar,.excluir{
    text-decoration: none;
    color: black;
    text-align: center;
    cursor: pointer;
}
.matricula__button{
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    margin-bottom: 1rem;
    
}
.matricula__formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.matricula__relatorio{
    min-width: 90%;
    background-color: var(--brancoTransparente);
}
@media screen and (min-width: 1080px) {
    .table-container{
        overflow-x: hidden;
    }
}