
h2{
    margin-top: 1rem;
}
.formulario{
    margin: 1rem 0;
    text-align: center;
    background-color: var(--brancoTransparente);
    box-shadow: 4px 3px 5px 0px var(--preto);
    border-radius: 8px;
    min-width: 300px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
   
}
.inputBox{
    width: 100%;
    padding: 0 1rem;
    border-radius: 8px;
    text-align: left;
    
}

.formulario__input{
    width: 100%;
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    
}

.formulario__button{
    border: none;
    border-radius: 8px;
    padding: 8px 0;
    transition: all 0.3s ease-in-out;
    background-color: var(--verdeMeioAzul);
    color: var(--branco);
    width: 8rem;
}
.formulario__button:hover{
    
    cursor: pointer;
    box-shadow:  0 0 1px 1px var(--verde);
    color: var(--verde) ;
    
}
.formulario__link{
    color: var(--branco);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.formulario__link:hover{
    color: var(--verde);
   
}
.formulario__mensagemErro{

    font-size: 14px;
    
}